<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$title</title>
     <link href="/Css/tableStyle.css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <td>书名</td><td>$title</td>
        </tr>
        <tr>
            <td>作者</td><td>$author</td>
        </tr>
        <tr>
            <td>单价</td><td>$unitprice</td>
        </tr>
        <tr>
            <td>封面</td><td>
                <img src="/Images/BookCovers/$isbn.jpg" /></td>
        </tr>
        <tr>
            <td>简介</td><td>$content</td>
        </tr>
    </table>

</body>
</html>
